<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      IMAGE ANALYSIS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="image-analysis-content">
  <div class="upload-container">
    <h2>Upload an Image</h2>
    <p>Choose an image for medical analysis.</p>
    <ion-button expand="block" color="success">
      <ion-icon slot="start" name="image"></ion-icon>
      Upload Image
    </ion-button>
  </div>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
